@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.nobutton{
  @extend %font;
}

.button{
  @extend %font;
  cursor: pointer;
}

.offers{
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;

  .offer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .id{
      flex: 1;
      @extend %font;
    }
    .button{
      @extend %font;
      text-align: center;
      margin-left: 40px;
    }
  }
}