@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.nobutton{
  @extend %font;
}

.offersHeader{
  @extend %font;
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.offers{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 360px;

  .offer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .price{
      width: 200px;
      @extend %font;
    }
    .sellers{
      @extend %font;
      opacity: 0.8;
      flex: 1;
    }
    .id{
      @extend %font;
      flex: 1;
    }
    .button{
      @extend %font;
      text-align: center;
      margin-left: 40px;
    }
  }
}

.button{
  @extend %font;
  cursor: pointer;
}