@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-darkest;
  height: 60px;
  border-radius: 5px;
  color: $color-white;
  @extend %font;
  cursor: pointer;

  .text {
    display: flex;
    flex-direction: row;
  }

  &.disabled {
    background-color: $color-grey-dark;
  }
}

.spinner {
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: $color-white;
  margin: 0 5px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}