@import './variables';
@import './rwd';

.view {
  width: 100%;

  &[class*=' anim-enter'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &[class*=' anim-enter-active'] {
    opacity: 1;
    transition: opacity 0.3s $transition-easing 0.3s;
  }

  &[class*=' anim-enter-done'] {
    opacity: 1;
    position: relative;
    top: auto;
    left: auto;
  }

  &[class*=' anim-exit'] {
    //position: absolute;
    //top: 0;
    //left: 0;
    //opacity: 1;
  }

  &[class*=' anim-exit-active'] {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s $transition-easing 0s;
  }

  &[class*=' anim-exit-done'] {
    pointer-events: none;
    opacity: 0;
  }
}

.viewAuth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 250px);

  &[class*=' anim-enter'] {
    transform: translateX(200px);
    opacity: 0;
  }

  &[class*=' anim-enter-active'] {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s $transition-easing 0.5s;
  }

  &[class*=' anim-enter-done'] {
    transform: translateX(0);
    opacity: 1;
  }

  &[class*=' anim-exit'] {
    transform: translateX(0);
    opacity: 1;
  }

  &[class*=' anim-exit-active'] {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.5s $transition-easing;
  }

  //
  //@include for-mobile {
  //  width: $mobile-width;
  //}
}

.scroll {
  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-dark;
    border: 4px solid transparent;
    border-radius: 4px;
  }
}
