// fonts
$font-main: "Univers LT W01_67 Bold_1476016","Helvetica Neue","Helvetica","Arial",sans-serif;

%font-header-1 {
  font-family: $font-main;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

%font-header-2 {
  font-family: $font-main;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
}

%font {
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

%font-large {
  font-family: $font-main;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

%font-medium-bold {
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.4rem;
}

%font-medium {
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.4rem;
}

%font-small-bold {
  font-family: $font-main;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

%font-small {
  font-family: $font-main;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
