// colors
$color-white: #fff;
$color-grey-light: #9A9A9A;
$color-grey: #7B7B7B;
$color-grey-dark: #625E5E;
$color-grey-darkest: #403D3D;

// shadow
$shadow-main: 0 4px 16px rgba(0, 0, 0, 0.05);

// opacity
$opacity-main: 0.8;

//transitions
$transition-time: 0.2s;
$transition-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

$mobile-breakpoint: 1000px;
$mobile-width: 320px;
