@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.wrapper{
  padding: 20px 40px 40px 40px;
  color: $color-white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  h2{
    margin: 0 0 20px 0;
    @extend %font;
  }

  .details{
    margin-bottom: 20px;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    @extend %font;

    &.opacity{
      color: rgba(255,255,255,0.5)
    }
  }

  .link {
    color: $color-white;
    border: 0;
    outline: 0;
  }
}

.questionmark{
  margin-left: 10px;
  font-size: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background: $color-white;
  color: $color-grey-dark;
}