@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.wrapper{
  padding: 20px 40px 20px 40px;
  color: $color-white;
  text-transform: uppercase;

  h2{
    margin: 0;
    @extend %font;
  }

  h3{
    margin: 0;
    @extend %font;
  }

  p{
    @extend %font;
    text-transform: uppercase;
  }

  li{
    @extend %font;
    text-transform: uppercase;
  }

  hr{
    opacity:0;
    margin: 30px 0;
  }

  .input{
    text-transform: uppercase;
    width: 100%;
    flex: 1;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    color: $color-white;
    border: none;
    @extend %font;
  }
}