@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.wrapper{
  padding: 20px 40px;
  color: $color-white;
  text-transform: uppercase;

  h2{
    margin: 0;
    @extend %font;
  }

  h3{
    margin: 0;
    @extend %font;
  }

  p{
    @extend %font;
    text-transform: uppercase;
  }

  li{
    @extend %font;
    text-transform: uppercase;
  }

  hr{
    opacity:0;
    margin: 30px 0;
  }
}