@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/classes';

.container{
  position: relative;
  display: inline-block;
}

.tooltip{
  width: 200px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -110px;
  margin-top: 10px;
  text-align: center;
  background: rgba(0,0,0,0.6);
  border-radius: 4px;
  @extend %font;
  z-index: 999;
}