@import './styles/variables';
@import './styles/fonts';
@import './styles/classes';

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, $color-grey-light 0%, $color-grey 100%);
  position: relative;
  color: $color-white;
  animation: app-appear 0.5s linear 0.3s 1 both;

  @keyframes app-appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 60px 90px 60px 90px;

    @include for-mobile {
      margin: 30px;
    }

    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: 60px;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      .ball {
        margin: 40px 0;
      }

      h1 {
        text-align: center;
        @extend %font;
      }
    }

    .footer{
      display: flex;
      height: 60px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .button{
      @extend %font;
      cursor: pointer;
    }
  }
}

.toast{
  @extend %font;
  text-transform: uppercase;
  text-align: center;
  min-height: 50px;
}